<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hwang's HangHae blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/detail.js"></script>
</head>
<body>
    <div class="top" onclick="window.location.href='/'">
        <h1>Hwang's HangHae blog</h1>
    </div>
    <div class="menu">
      <a href="/"><div>게시글 보기</div></a>
      <a href="/card"><div>게시글 등록</div></a>
    </div>
    <h3 class="menu_d">상세페이지</h3>
    <section class="cardCloumn_d" id="card_list">
      <div class="cardRow2_d">
        <div class="ListBg_d">
            <div class="ListFlex_d">
                <div class="click-wrap_d">
                    <div class="imgHidden-box_d">
                        <img src="/img/linkgather.png" class="classImg_d">
                        <div class = "detailForm">
                          <h3 class="title_d">제목: <span class="titleI"><%= card.title %></span> </h3>
                          <h4 class="desc_d">설명: <span class="descI"><%= card.desc %></span></h4>
                          <div class='etc_d'>
                            <div class="author_d">작성자: <span class="authorI"><%= card.author %></span></div>
                            <div class="time_d">작성시간: <span class="dateI"><%= card.date %></span></div>
                          </div>
                          <div>
                            <button class="editBtn" onclick="window.location.href ='/edit?cardId=<%= card._id %>' ">수정하기</button>
                            <button class="deleteBtn">삭제</button>
                          </div>
                        </div>
                        <hr/>
                        <form class="commentForm" onsubmit="return false;">
                          <input type="text" name="comment" class="commentInput">
                          <input type="hidden" name="cardId" value=<%= card._id %>>
                          <button  class="submitComment">등록하기</button>
                        </form>
                        <% for(let i=0; i < ment.length; i++) { %>
                        <div class="commentWrap <%= ment[i]._id%>" style="margin-left:50*'<%= ment[i].commentDepth %>'px;">
                          <div class="commentFlex">
                            <div class="comment ">
                                <div class="com"><%= ment[i].comment %></div>
                              <div class="dateWrap">
                                <div class="date">작성 날짜: <%= ment[i].date %></div>
                                <% if(ment[i].edited) {%>
                                  <div class="date_E">수정됨(<%= ment[i].editedTime %>)</div>
                                <%}%>
                              </div>
                            </div>
                            <div class="flexComment">
                              <div>작성자: <%= ment[i].author %></div>
                              <% if(ment[i].author == id ) {%>
                                <div class="flexEditComment">
                                  <div class="editComment editStyle" onclick="editComment('<%= ment[i]._id %>')">편집</div>|
                                  <div class="deleteComment editStyle" onclick="deleteCommentModal('<%= ment[i]._id %>')">삭제</div>
                                </div>
                              <% } %>
                            </div>
                          </div>
                        </div>
                        <div class="editInputWrap <%= ment[i]._id%> hidden">
                          <div class="editInputWrap2">
                            <input class="editCommentInput" type="text" value="<%= ment[i].comment %>" id="<%= ment[i]._id %>">
                            <button class="editCommentBtn" type="button" onclick="editCommentApi('<%= ment[i]._id%>')">수정하기</button>
                          </div>
                        </div>

                        <div class="del-background2 hidden <%= ment[i]._id%>">
                          <div class="del-wrap2">
                            <section class="del-content2">
                                <div class="flex-layout-between2">
                                    <h3>정말 삭제하시겠습니까?</h3>
                                    <div class="option">
                                      <button class="del-submit-btn2" onclick="deleteComment('<%= ment[i]._id %>')">예</button>
                                      <button class="del-close-btn2" onclick="deleteCommentModal('<%= ment[i]._id %>')">닫기</button>
                                    </div>
                                </div>
                            </section>
                          </div>
                        </div>  
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </section>

  <div class="del-background hidden">
    <div class="del-wrap">
      <section class="del-content">
          <div class="flex-layout-between">
              <h3>정말 삭제하시겠습니까?</h3>
              <div>
                <input type="password" placeholder="비밀번호를 입력해주세요" class="passwordCheck">
              </div>
              <div class="option">
                <button class="del-submit-btn">예</button>
                <button class="del-close-btn">닫기</button>
              </div>
          </div>
      </section>
    </div>
  </div>  

  

</body>
</html>