<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hwang's HangHae blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/home.js"></script>
</head>
<body>
    <div class="top" onclick="window.location.href='/'">
        <h1>Hwang's HangHae blog</h1>
    </div>
    <div class="signWrap">
        <div class="signForm">
            <% if(id ==="") {%>
                <a class="toSignin" href="/user/signin"><div>로그인</div></a>
                <a class="toSignup" href="/user/signup"><div>회원가입</div></a>
            <%} else {%>
                <div class="toLogout">로그아웃</div>
            <%} %>
        </div>
    </div>
    <div class="menu">
        <a href="/"><div>게시글 보기</div></a>
        <a href="/card"><div>게시글 등록</div></a>
    </div>
    <section class="cardCloumn" id="card_list">
        <div class="cardRow2">
            <% for(let i=0; i < card.length; i++) {%>
                <div class="ListBg">
                    <!-- onclick="location.href='/detail?goodsId=${item["goodsId"]}'" -->
                    <div class="ListFlex">
                        <div class="click-wrap">
                            <div class="imgHidden-box" onclick="location.href=`/detail?cardId=<%= card[i]._id %>`"">
                                <img src="/img/linkgather.png" class="classImg">
                                <h3 class="title"> <%= card[i].title %> </h3>
                                <h4 class="desc"><%= card[i].desc %></h4>
                                <div class ="etc">
                                <span class="author">작성자 :<%= card[i].author %></span>
                                <span class="time">작성시간: <%= card[i].date %></span>
                                </div>
                                <hr/>
                            </div>
                            <div class="likeWrap" onclick="like('<%= card[i]._id %>')">
                                <img src="/img/likeUp3.png"> 
                                <span class="likeText">좋아요: <%= card[i].like %></span>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
</body>
</html>